$color_trout_6_approx: rgba(73, 89, 96, 0.06);
$color_royal_purple_approx: rebeccapurple;
$white: white;
$color_suva_gray_9_approx: rgba(136, 136, 136, 0.09);
$color_cello_approx: #263959;
$color_mountain_mist_15_approx: rgba(152, 152, 152, 0.15);
